This notebook tests out the helper functions (in `utils.py`) that (1) parse the APR spreadsheets for 2018-2019 data, and (2) combines the ABAG permits dataset from 2013-2017 with the APR spreadsheets from 2018 to 2019 to create a dataset of all permits over the entire time period.

In [1]:
import geopandas as gpd
import pandas as pd
from IPython.display import Markdown
from housing_elements import utils
from pathlib import Path

Set up logging to print to the screen:

In [2]:
import logging
import sys
logging.basicConfig(stream=sys.stdout, level=logging.INFO)

In [3]:
from importlib import reload
reload(utils)

First, let's test out the APR spreadsheet helper function (`utils.load_apr_permits`) on the cities we have to ensure they look reasonable.

In [ ]:
cities_list = Path()

In [8]:
path = Path('data/raw_data/APRs/')

In [20]:
for city in test_cities:
    for year in ['2018', '2019']:
        filtered_df = utils.load_apr_permits(city, year)

        display(Markdown('# ' + city + ' ' + year))
        display(filtered_df[['Current APN', 'Street Address', '# of Units Issued Building Permits', 
                             'Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)']])

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (3 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (7 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (9 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:111 rows of # of Units issued Entitlements are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:111 rows of Entitlement Date Approved are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:111 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:111 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Berkeley 2018

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
56,063 295203300,680 Cragmont Ave,1,ADU
57,057 204600803,2131 University Ave,205,5+
59,054 179202600,1316 Carleton St,1,ADU
60,054 170208900,2946 Claremont Blvd,1,ADU
61,054 178301100,1319 Blake St,1,ADU
...,...,...,...,...
163,064 424501200,123 Parkside Dr,1,ADU
164,052 156402200,2751 Prince St,1,ADU
165,056 196903000,2223 Seventh St,1,ADU
166,060 240601100,1224 Stannage Ave,1,ADU
167,059 226100403,1444 Walnut St,1,5+

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (4 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (6 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:105 rows of # of Units issued Entitlements are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:105 rows of Entitlement Date Approved are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:105 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:105 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Berkeley 2019

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
1,059 226800601,1506 Bonita Ave.,2,2 to 4
2,056 191602100,1409 Channing Way,1,ADU
3,060 239103800,1461 Curtis Street,1,ADU
4,059 228202900,1407 Cypress Street,1,ADU
5,057 201502200,2145 Grant Street,1,SFD
...,...,...,...,...
119,059 232500605,1444 FIFTH,0,2 to 4
123,058 218702600,2348 HILGARD,0,SFD
134,062 292202700,1873 SAN RAMON,0,ADU
135,058 212102200,1641 SEVENTH,0,SFD
138,055 181900102,2628 SHATTUCK,0,5+

INFO:housing_elements.utils:Column Prior APN+ is not all null (40 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (28 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (39 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (17 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (17 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (16 rows not null), will not drop it.
INFO:housing_elements.utils:11 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:11 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Mountain View 2018

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
15,148-36-039,2268-2280 W. El Camino Real,201,5+
16,148-33-032 to 148-33-057,2296 Mora Dr,50,SFA
17,NaN,277 Fairchild Ave.,24,SFA
18,NaN,"100, 420, 430 Ferguson Dr.",46,SFA
19,NaN,858 Sierra Vista Ave.,3,SFD
20,154-10-035,1585 Villa St.,1,ADU
21,158-13-012,260 Franklin St.,1,ADU
22,154-08-012,339 Pettis Ave.,1,ADU
23,154-30-018,665 Palo Alto Ave.,1,ADU
24,153-20-009,832 San Lucas Ct.,1,ADU
42,158-09-025,550 Sierra Ave,1,ADU

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (138 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (8 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (138 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (3 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (14 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (14 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (14 rows not null), will not drop it.

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Mountain View 2019

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
10,150-26-006,460 North Shoreline Boulevard,50.0,5+
11,148-09-009,2700 W El Camino Real,211.0,5+
12,158-33-004,257 Calderon Avenue,4.0,SFA
13,160-19-131,186 East Middlefield Road,5.0,SFA
14,150-08-009,315 Sierra Vista Avenue,8.0,SFA
15,193-02-001,1125 Castro Street,1.0,SFD
16,154-24-041,523 Mariposa Avenue,1.0,ADU
17,154-25-071,545 Mountain View Avenue,1.0,ADU
18,197-37-031,2155 Carol Avenue,1.0,ADU
19,153-20-018,751 San Lucas Avenue,1.0,ADU
20,189-32-034,1367 Park Drive,1.0,ADU
21,197-41-020,285 Carmelita Drive,1.0,ADU
22,147-24-040,22321 Jewell Place,1.0,ADU
23,170-09-087,1115 Solana Drive,1.0,ADU
24,160-02-067,769 Roslyn Circle,1.0,ADU
25,197-10-040,3466 Woodstock Lane,1.0,ADU
26,18905145,830 SLADKY AV,1.0,ADU
27,19305008,1096 PETIE WY,1.0,ADU
28,19725067,2715 DIERICX DR,1.0,ADU
29,15805093,637 EHRHORN AV,1.0,ADU
30,19738022,2141 WOODLEAF WY,1.0,ADU

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (849 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (17 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (849 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (18 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Oakland 2018

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
1,020 010600704,1245 23RD AVE,37,5+
2,037 255203001,4868 CALAVERAS AVE,28,5+
3,047 550904100,10500 INTERNATIONAL BLVD,324,5+
6,018 046500220,101 10TH AVE,101,5+
7,018 046500220,101 10TH AVE,110,5+
...,...,...,...,...
736,006 002103300,1731 CHASE ST,1,SFD
737,048H756205312,5945 GLENARMS DR,1,SFD
738,009 071901200,848 32ND ST,1,SFD
739,015 129300301,5751 ADELINE ST,1,SFD
740,040A342003900,7894 NEY AVE,6,5+

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (1011 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (12 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (1011 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (10 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Oakland 2019

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
437,"047 550900101, 047 550900300, 047 550900400, 0...","1428 105TH AVE, Oakland, CA 94603",324.0,5+
438,018 046501400,"219 9TH AVE, #lot C, Oakland, CA 94607",241.0,5+
439,"008 064900900, 008 064901000","2016 TELEGRAPH AVE, Oakland, CA 94612",223.0,5+
440,"008 063601801, 008 063601900","1940 WEBSTER ST, Oakland, CA 94612",173.0,5+
441,004 004300400,"532 UNION ST, OAKLAND, CA 94607",110.0,5+
...,...,...,...,...
1007,027 085700400,2931 SCHYLER ST,1.0,ADU
1008,032 204701300,2178 HIGH ST,1.0,ADU
1009,043 455401300,1603 86TH AVE,1.0,ADU
1010,015 130201800,1043 57TH ST,1.0,ADU
1011,045 520301102,1017 107TH AVE,1.0,SFD

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (59 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (59 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:52 rows of # of Units issued Entitlements are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:52 rows of Entitlement Date Approved are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Palo Alto 2018

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
1,137-25-008,"531 IRVEN CT, PALO ALTO, CA 94306",1,SFD
6,137-12-023,3721 LA DONNA AVE,1,SFD
10,142-28-107,1501 CALIFORNIA AVE,2,2 to 4
11,142-28-106,1635 BOWDOIN CT,2,2 to 4
12,142-28-XXX,1501 CALIFORNIA AV,1,SFD
13,142-28-XXX,1600 AMHERST CT,1,SFD
14,142-28-XXX,1501 CALIFORNIA AV,1,SFD
15,142-28-XXX,1615 AMHERST CT,1,SFD
16,142-28-XXX,1501 CALIFORNIA AV,1,SFD
17,142-28-XXX,2500 AMHERST ST,1,SFD
18,142-28-XXX,1501 CALIFORNIA AV,1,SFD
19,142-28-XXX,1615 BOWDOIN CT,1,SFD
20,142-28-XXX,1501 CALIFORNIA AV,1,SFD
21,142-28-XXX,2435 AMHERST ST,1,SFD
22,124-16-089,1545 ALMA ST,1,2 to 4
23,124-16-089,1543 ALMA ST,1,2 to 4
24,003-51-021,912 N CALIFORNIA AV,1,ADU
25,147-27-005,237 SCRIPPS CT,1,ADU
26,120-05-062,940 WEBSTER ST,1,ADU
27,137-04-005,980 CALIFORNIA AV,1,ADU
28,127-28-086,836 BRUCE DR,1,ADU
29,132-19-048,2829 EMERSON ST,1,ADU
30,137-27-090,4152 DONALD DR A,1,ADU
31,003-50-070,2100 BELLVIEW DR,1,ADU
32,003-32-035,741 HOMER AV,1,ADU
33,132-27-031,3247 EMERSON ST,1,ADU
34,120-18-005,"358 ADDISON AV, UNIT A",1,ADU
35,137-04-025,2350 CORNELL ST,1,ADU
36,127-22-027,3342 VERNON TER,1,ADU
37,127-19-122,728 GAILEN AV,1,ADU
38,137-19-008,1070 CERRITO WY,1,ADU
39,132-40-023,419 MARGARITA AV,1,ADU
40,132-40-053,389 MATADERO AV,1,ADU
41,003-33-037,1001 FULTON ST,1,ADU
42,127-48-016,3451 CORK OAK WY,1,ADU
43,127-24-013,3256 CLIFTON CT,1,ADU
44,120-06-072,555 KINGSLEY AV,1,ADU
45,132-02-027,2640 MIDDLEFIELD RD,1,ADU
46,167-06-062,665 GLENBROOK DR,1,ADU
47,127-58-008,3094 STELLING DR,1,ADU
48,003-03-034,833 HAMILTON AV,1,ADU
49,132-02-017,2546 WEBSTER ST,1,ADU
50,127-11-022,3624 EVERGREEN DR,1,ADU
51,132-18-035,2591 RAMONA ST,1,ADU
52,003-31-013,641 GUINDA ST,1,ADU
53,003-14-064,1741 EDGEWOOD DR,1,ADU
54,127-49-069,3287 Middlefield Road,1,ADU
55,148-05-036,124 MONROE DR,1,ADU
56,124-30-031,310 LELAND AV,1,ADU
57,137-25-062,580 GEORGIA AV,1,ADU
58,120-17-043,400 CHANNING AV,1,ADU
59,120-17-043,400 CHANNING AV,1,ADU

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (70 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (3 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:66 rows of # of Units issued Entitlements are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:66 rows of Entitlement Date Approved are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:66 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:66 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Palo Alto 2019

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
8,VARIOUS,567 MAYBELL,12,SFA
9,120-15-110,429 UNIVERSITY,3,2 to 4
10,124-33-068,2515 EL CAMINO REAL,13,5+
11,132-41-091,3877 EL CAMINO REAL,17,5+
13,124-05-072,2227 TASSO ST,1,ADU
...,...,...,...,...
70,148-12-005,4361 SILVA AV,1,ADU
71,127-20-097,765 E MEADOW DR,1,ADU
72,132-27-006,3168 RAMONA ST,1,ADU
73,132-10-183,695 TOYON PL,1,ADU
74,124-13-020,355 SANTA RITA AV,1,ADU

INFO:housing_elements.utils:Column Prior APN+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (3 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (3 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (13 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:368 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:368 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# San Jose 2018

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
1,46701030,290 N 2ND STREET,84.0,5+
2,28432014,1690 Southwest Exp,64.0,5+
21,49142039,2938 GLEN DARBY CT,1.0,ADU
22,48416039,88 PALA AV,1.0,ADU
23,57725042,6478 SPROUL CT,1.0,ADU
...,...,...,...,...
506,37322022,1144 BRETMOOR WY (BEPM 100%) SECOND UNIT ...,1.0,ADU
509,42935054,1236 MINNESOTA AV (BEMP 100%) DETACHED SECOND...,1.0,ADU
519,67628001,2654 PEARTREE LN (BEPM 100%) 2ND DETACH UNIT ...,1.0,ADU
520,43960014,"1428 GERHARDT AV (BEPM 100%) 2ND UNIT, ATTACH...",1.0,ADU
521,41414082,2224 FOXWORTHY AV PRAKASH (BEPM 100%) CODE CA...,1.0,ADU

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (827 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (8 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (7 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# San Jose 2019

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
22,49910014,2772 EULALIE DR,1,ADU
23,64904012,3233 ANDORA DR,1,ADU
24,49908016,1235 BECKET DR,1,ADU
25,24104044,1599 BERRYESSA RD,233,5+
26,NaN,2727 GOMES DR,1,SFD
...,...,...,...,...
829,40338003,5272 YORKTON WAY,1,ADU
830,40330056,12730 LANTANA AVENUE,1,ADU
831,29921010,1015 PHELPS AVENUE,1,ADU
832,67318042,3210 PUMPHERSTON WAY,1,ADU
833,24931030,645 N 15TH STREET,1,ADU

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (850 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (74 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# San Francisco 2018

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
347,3755023,1140 HARRISON ST,371,5+
348,3701021,1270 MISSION ST,299,5+
349,3808004,188 HOOPER ST,280,5+
350,0350002,1028 MARKET ST,186,5+
351,3780044,975 BRYANT ST,185,5+
...,...,...,...,...
846,2611019,4 DIVISADERO ST,1,5+
847,2064012,1856 28TH AV,1,ADU
848,1222011,1438 PAGE ST,1,ADU
849,5675001,180 CORTLAND AV,1,2 to 4
850,1878002S,1572 33RD AV,1,ADU

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (1502 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (36 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# San Francisco 2019

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
550,3725090,434 MINNA ST,302,5+
551,3701021,1270 MISSION ST,299,5+
552,3703040,1068 MISSION ST,254,5+
553,3514043,1601 MISSION ST,220,5+
554,6311001,242 HAHN ST,167,5+
...,...,...,...,...
1048,0516034,2161 GREENWICH ST,1,ADU
1049,5463001G,50 GOULD ST,1,SFA
1050,1456013,473 24TH AV,1,2 to 4
1051,3608023,3376 21ST ST,1,ADU
1052,1553036,536 11TH AV,1,2 to 4

INFO:housing_elements.utils:Column Prior APN+ is not all null (470 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (469 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (469 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:233 rows of # of Units issued Entitlements are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:233 rows of Entitlement Date Approved are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:233 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:233 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Fremont 2018

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
10,501 004405600,4140 Wakefield Loop,1,ADU
11,507 030502200,37940 Third St,1,ADU
12,TR 8229,223 Spire Cmn,5,5+
13,TR 8229,177 Stevenson Blvd,7,5+
14,TR 8229,39474 Capstone Cmn,4,SFA
...,...,...,...,...
238,519 119102600,171 Action Ct,1,ADU
239,525 128200900,4155 Woodcrest Dr,1,ADU
240,525 097107000,4875 Essex Way,1,ADU
241,543 044213000,4661 Celia Ct,1,ADU
268,501 140300900,3117 Greenwood Dr.,1,ADU

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

INFO:housing_elements.utils:Column Prior APN+ is not all null (467 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (466 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (3 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (466 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (7 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (4 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (4 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (4 rows not null), will not drop it.
INFO:housing_elements.utils:254 rows of # of Units issued Entitlements are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:254 rows of Entitlement Date Approved are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:254 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:254 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

# Fremont 2019

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
1,507 024501902,105 E St,1,SFD
2,525 164301900,3606 Howe Ct,1,ADU
3,525 043509400,2238 Dayle Ct,1,ADU
4,525 070103100,40677 Max Dr,1,ADU
6,519 144902800,1101 Sioux Ct,1,ADU
...,...,...,...,...
257,TR 8330,208 Fecundo Ter,1,ADU
258,TR 8286,3709 Innovation Way,10,5+
259,TR 8286,3869 Enrichment Ter,8,5+
260,TR 8286,45109 Enlighten Cmn,9,5+
261,TR 8286,45139 Challenge Cmn,8,5+

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (14 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (62 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (8 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (8 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (8 rows not null), will not drop it.
INFO:housing_elements.utils:18 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:18 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# San Mateo 2018

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
1,040031170,3111 MENA DR,1.0,SFA
2,040031250,3107 MENA DR,1.0,SFA
3,042050140,612 36TH AVE,1.0,SFA
4,042050140,614 36TH AVE,1.0,SFA
34,039-060-870,21 LODATO AVE,3.0,2 to 4
43,034-294-050,151 15th Aven,1.0,ADU
44,040-083-160,19 Poinsettia Ave,1.0,ADU
45,033-067-130,205 N Humboldt St,1.0,ADU
46,032083030,144 SYCAMORE AVE,1.0,ADU
47,033314190,935 S ELDORADO ST,1.0,ADU
48,032083200,131 WARREN RD,1.0,ADU
49,039142170,213 23RD AVE,1.0,ADU
50,033331320,1201 NEWBRIDGE AVE,1.0,ADU
62,039071040,2109 PALM AVE 6,0.0,5+
63,034085090,236 W 3RD AVE,0.0,SFA
64,039060870,21 LODATO AVE,0.0,2 to 4
78,34200240,31 9th Ave,60.0,5+
79,34182160,405 E 4th,15.0,5+

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (93 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (5 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (5 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (5 rows not null), will not drop it.
INFO:housing_elements.utils:61 rows of # of Units issued Entitlements are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:61 rows of Entitlement Date Approved are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:61 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:61 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# San Mateo 2019

,Current APN,Street Address,# of Units Issued Building Permits,"Unit Category (SFA,SFD,2 to 4,5+,ADU,MH)"
13,42164090,48 W 40TH AVE,1,ADU
14,33354190,1449 HEMLOCK AVE,1,ADU
15,33304190,827 S HUMBOLDT ST,1,ADU
16,35111150,48 40th Ave,1,ADU
17,39397210,151 SYLVAN AVE,1,ADU
...,...,...,...,...
69,035200180,420 STATION PARK CIR,107,5+
81,33163160,200 S FREMONT ST,0,SFD
82,34295120,125 16TH AVE,0,SFD
83,32141260,660 N EL CAMINO REAL,0,SFD
84,32142120,617 HIGHLAND AVE,3,2 to 4

These look reasonable.

Now let's test out the functions that load the ABAG permits:

In [21]:
sj_permits_df = utils.load_all_new_building_permits('San Jose')

INFO:housing_elements.utils:Column Prior APN+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (2 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (3 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (3 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (13 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:368 rows of Certificates of Occupancy or other forms of readiness (see instructions) Date Issued are not null or zero. Dropping the column anyway
INFO:housing_elements.utils:368 rows of # of Units issued Certificates of Occupancy or other forms of readiness are not null or zero. Dropping the column anyway

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

INFO:housing_elements.utils:Column Prior APN+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Local Jurisdiction Tracking ID+ is not all null (827 rows not null), will not drop it.
INFO:housing_elements.utils:Column How many of the units were Extremely Low Income?+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Infill Units? Y/N+ is not all null (8 rows not null), will not drop it.
INFO:housing_elements.utils:Column Assistance Programs for Each Development (see instructions) is not all null (7 rows not null), will not drop it.
INFO:housing_elements.utils:Column Number of Demolished/Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished or Destroyed Units+ is not all null (1 rows not null), will not drop it.
INFO:housing_elements.utils:Column Demolished/Destroyed Units Owner or Renter+ is not all null (1 rows not null), will not drop it.

/Users/sidharthkapur/Library/Caches/pypoetry/virtualenvs/housing-elements-H302xxA9-py3.8/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [22]:
sj_permits_df.groupby('permyear')['totalunit'].sum()

permyear
2014    4326.0
2015    2019.0
2016    2088.0
2017    3097.0
2018    2973.0
2019    2425.0
Name: totalunit, dtype: float64

Looks good!

In [9]:
sj_permits_df.columns

Index(['objectid', 'joinid', 'permyear', 'county', 'jurisdictn', 'apn',
       'address', 'zip', 'projname', 'hcategory', 'vlowdr', 'vlowndr',
       'vlowtot', 'lowdr', 'lowndr', 'lowtot', 'moddr', 'modndr', 'modtot',
       'amodtot', 'totalunit', 'tenure', 'mapped', 'mapnotes', 'pda',
       'pdacycle', 'pdajoinid', 'tpa', 'tpacycle', 'hsngsite', 'rhnacycle',
       'notes', 'ObjectId2', 'OBJECTID', 'geometry', 'Prior APN+',
       'Local Jurisdiction Tracking ID+', 'Building Permits Date Issued',
       'How many of the units were Extremely Low Income?+',
       'Was Project APPROVED using GC 65913.4(b)? (SB 35 Streamlining) Y/N',
       'Infill Units? Y/N+',
       'Assistance Programs for Each Development (see instructions)',
       'Deed Restriction Type (see instructions)',
       'For units affordable without financial assistance or deed restrictions, explain how the locality determined the units were affordable (see instructions)',
       'Term of Affordability or Deed Restriction (years) (if affordable in perpetuity enter 1000)+',
       'Number of Demolished/Destroyed Units+',
       'Demolished or Destroyed Units+',
       'Demolished/Destroyed Units Owner or Renter+'],
      dtype='object')

In [23]:
sj_sites = utils.load_site_inventory('San Jose')

Dropping constant columns: ['rhnacyc' 'rhnayrs' 'county' 'jurisdict' 'currunits' 'allowlow' 'num_vl'
 'num_l' 'num_m' 'num_am']
DF shape (599, 18)

In [35]:
sj_permits_df.columns

Index(['objectid', 'joinid', 'permyear', 'county', 'jurisdictn', 'apn',
       'address', 'zip', 'projname', 'hcategory', 'vlowdr', 'vlowndr',
       'vlowtot', 'lowdr', 'lowndr', 'lowtot', 'moddr', 'modndr', 'modtot',
       'amodtot', 'totalunit', 'tenure', 'mapped', 'mapnotes', 'pda',
       'pdacycle', 'pdajoinid', 'tpa', 'tpacycle', 'hsngsite', 'rhnacycle',
       'notes', 'ObjectId2', 'OBJECTID', 'geometry', 'Prior APN+',
       'Local Jurisdiction Tracking ID+', 'Building Permits Date Issued',
       'How many of the units were Extremely Low Income?+',
       'Was Project APPROVED using GC 65913.4(b)? (SB 35 Streamlining) Y/N',
       'Infill Units? Y/N+',
       'Assistance Programs for Each Development (see instructions)',
       'Deed Restriction Type (see instructions)',
       'For units affordable without financial assistance or deed restrictions, explain how the locality determined the units were affordable (see instructions)',
       'Term of Affordability or Deed Restriction (years) (if affordable in perpetuity enter 1000)+',
       'Number of Demolished/Destroyed Units+',
       'Demolished or Destroyed Units+',
       'Demolished/Destroyed Units Owner or Renter+'],
      dtype='object')

In [24]:
utils.calculate_ratio_of_development_on_inventory_sites(sj_sites, sj_permits_df)

Total units permitted: 16928.0
Total realistic capacity in inventory: 35536.43

0.4763562349960308

In [25]:
sj_sites[sj_sites.apn == '25417084']

,objectid,apn,locapn,genplan,zoning,gacres,locacres,allowden,allowhigh,relcapcty,desafford,sitetype,pdaparcel,existuse,localnote,Shape__Are,Shape__Len,geometry
37822,79956,25417084,25417084,UV,A(PD),35.648,12.50,20.0,20,242.0,NaN,Entitled,Y,None,NaN,0.000015,0.015521,"POLYGON ((-121.87497 37.36891, -121.87496 37.3..."
37823,79957,25417084,25417084,UV,A(PD),35.648,13.70,30.0,30,494.0,Affordable,Entitled,Y,None,NaN,0.000015,0.015521,"POLYGON ((-121.87497 37.36891, -121.87496 37.3..."
37824,79958,25417084,25417084,UV,A(PD),35.648,19.09,20.0,20,2082.0,NaN,Entitled,Y,Commercial,NaN,0.000015,0.015521,"POLYGON ((-121.87497 37.36891, -121.87496 37.3..."

In [ ]:
# TODO: In the course of testing with the san jose dataset, i saw one APN listed three times.
# apn == 25417084. we should find some fix during cleaning

In [26]:
sj_permits_df[sj_permits_df.apn == inventory_sites_permitted[0]].totalunit.sum()

NameError: name 'inventory_sites_permitted' is not defined

In [27]:
sj_sites[sj_sites.apn == inventory_sites_permitted[0]].relcapcty.sum()

NameError: name 'inventory_sites_permitted' is not defined

In [29]:
sj_sites.apn.isin(sj_permits_df.apn).sum()

64

In [30]:
utils.calculate_mean_overproduction_on_sites(sj_sites, sj_permits_df)

Number of inventory sites developed: 64
Number of units permitted on inventory sites: 3473.0
Total realistic capacity of inventory sites: 3664.0

-2.984375

In [31]:
utils.calculate_inventory_housing_over_all_housing(sj_sites, sj_permits_df)

Units permitted on inventory sites: 3473.0
Total units permitted: 16928.0

0.20516304347826086

In [32]:
# TODO: why are there multiple permits per site? are some of these not used? are there duplicates?